body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.small-image {
  height: 20vh !important;
  width: 20vw !important;
}

.fa-plus-square:hover,
.fa-trash:hover {
  cursor: pointer;
}

.fa-plus-square {
  color: rgb(25, 118, 25);
}

.fa-trash {
  color: rgb(197, 13, 13);
}

.salesbar {
  color: rgb(255, 255, 255);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  font-size: x-large;
}

.navbar-brand {
  color: black !important;
}

/* body,
html {
  height: 100%;
  margin: 0;
} */

.navbar {
  background-color: black !important;
}

.carcar {
  color: white;
  font-size: x-large;
}

.mainpagecontainer {
  background-image: url("https://newevolutiondesigns.com/images/freebies/4k-car-wallpaper-1.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
  width: 100vw;
  left: 0;
}

.otherpagescontainer {
  background-image: url("https://wallpaper.dog/large/10733962.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
  width: 100vw;
  left: 0;
}

.dropdown-spacing {
  margin-bottom: 10px;
}
